<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../main.css">
</head>
<body>
    <div class="divs">
        
        <div class="kontakt">
            <nav>
                <a href="../index.html"><img src="../img/home.png" class="logo2" alt=""></a>
                <ul>
                    <!-- <li class="top3"><a href="./home1.html">Home</a></li> -->
                    <li class="top4"><a href="./om_meg.html">Om meg</a></li>
                    <li class="top4"><a href="./showcase.html">Showcase</a></li>
                    
                </ul>
            </nav>
            <div class="top1">
                <h1> Kontakt</h1>
                <div class="black">

                    <a href="tel:+47 94159442">+47 94159442</a>
                    <a href="mailto:daniel.h.sandanger@gmail.com">daniel.h.sandanger@gmail.com</a>
                    <a href="https://github.com/0blackSamurai">Github</a>
                </div>
            </div>
        </div>
    </div>
  

</body>
</html>