<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../main.css">
</head>

<body>
    <div class="divs">
        <div class="om_meg">
            <nav>
                <a href="../index.html"><img src="../img/home.png" class="logo2" alt=""></a>
                <ul>
                    <!-- <li><a href="./home1.html">home</a></li> -->
                    <li><a href="./om_meg.html">Om meg</a></li>
                    <li><a href="./kontakt.html">Kontakt</a></li>
                </ul>
            </nav>
            <h1 class="top3" >showcase</h1>
           
        </div>
    </div>
    <main>
        <div class="modding">
            <div class="modding2">
                <h3>fantasi prosjekt </h3>
                <img src="../img/photoshop fantasy web.jpg" class="monster">
            </div>
            <div class="modding2"> 
            <h3><a href="../quiz/index1.html" class="black">quiz</a></h3>
            <p>denne quizen jobba med 1 år siden. den har noen problemer som man kan ikke lagre hgih score og man kan trykke på flere svar den er helt ok</p>
            </div>
            <div class="modding2">
               <h3><a href="../svg_bilder/index.html" class="black"> weather</a></h3>
                <p>den funker nesten helt perfect bare at man kan ikke søke med "ø"eller "æ" fordi de er norske bokstaver.</p>
            </div>
            <div class="modding2">
                <h3><a href="../test_!/index.html" class="black">movies</a></h3>
                <p>den her har bare man kan ikke ta details eller søke etter mest populært. men unntat det ganske fine</p>
            </div>
        </div>
      
    </main>
    <script src="../Button_img.js"></script>
</body>

</html>